flows.json
[
    {
        "id": "afb0f186.cfb0d",
        "type": "tab",
        "label": "Home Assistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4aedf9e8.044e08",
        "type": "tab",
        "label": "Alarm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf24db3435ba68ad",
        "type": "tab",
        "label": "Heating",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43703bf3.b01b24",
        "type": "subflow",
        "name": "turn off lights",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "6050e0f4.c5a5f"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8b52884a.b76658",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    },
    {
        "id": "649859a4.a17818",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "emqx-headless",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f26da246.74a7f",
        "type": "light-scheduler-settings",
        "name": "home",
        "latitude": "51.32063881375498",
        "longitude": "-2.2091381568202313"
    },
    {
        "id": "6050e0f4.c5a5f",
        "type": "function",
        "z": "43703bf3.b01b24",
        "name": "turn_off",
        "func": "var service = \"turn_off\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "510bee04.ba47c",
                "10d4db91.a75214",
                "39b8136a.8621ec",
                "e046403e0a1ed907",
                "da8d24c5.0c87e8",
                "a580f0de2be33007"
            ]
        ]
    },
    {
        "id": "da8d24c5.0c87e8",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "office light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "",
        "entityId": "group.office_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 400,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "89834abb.4ef668",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "lounge light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "",
        "entityId": "light.lounge_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 410,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "510bee04.ba47c",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "hall light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "",
        "entityId": "light.hallway",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 400,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "10d4db91.a75214",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "bedroom light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "",
        "entityId": "light.bedroom_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "39b8136a.8621ec",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "bathroom light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "",
        "entityId": "light.bathroom_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 420,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e046403e0a1ed907",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "landing light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "",
        "entityId": "light.landing_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a580f0de2be33007",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "office plug",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "",
        "entityId": "group.office_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a5e0e221f5e5dde0",
        "type": "server-state-changed",
        "z": "afb0f186.cfb0d",
        "name": "landing motion",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.landing_motion",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 60,
        "wires": [
            [
                "9a771d738291330e"
            ],
            []
        ]
    },
    {
        "id": "f0357509eda72c8d",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "landing light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "",
        "entityId": "light.landing_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1070,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "312fc9f4c564b728",
        "type": "trigger",
        "z": "afb0f186.cfb0d",
        "name": "",
        "op1": "{\"service\":\"turn_on\"}",
        "op2": "{\"service\":\"turn_off\"}",
        "op1type": "json",
        "op2type": "json",
        "duration": "60",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 830,
        "y": 60,
        "wires": [
            [
                "f0357509eda72c8d"
            ],
            [
                "f0357509eda72c8d"
            ]
        ]
    },
    {
        "id": "de7ce92966ad9824",
        "type": "light-scheduler-filter",
        "z": "afb0f186.cfb0d",
        "settings": "f26da246.74a7f",
        "events": "[{\"start\":{\"dow\":1,\"mod\":900},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":900},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":900},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":900},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":900},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":900},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":900},\"end\":{\"dow\":1,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":120}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":120}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":120}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":120}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":120}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":120}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":120}}]",
        "name": "dark? (filter)",
        "onlyWhenDark": true,
        "scheduleRndMax": 0,
        "sunElevationThreshold": "0",
        "sunShowElevationInStatus": true,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "312fc9f4c564b728"
            ],
            []
        ]
    },
    {
        "id": "9a771d738291330e",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "name": "stairs lights off?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.landing_light",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 360,
        "y": 60,
        "wires": [
            [],
            [
                "de7ce92966ad9824"
            ]
        ]
    },
    {
        "id": "e2881d687528b305",
        "type": "light-scheduler-filter",
        "z": "afb0f186.cfb0d",
        "settings": "f26da246.74a7f",
        "events": "[{\"start\":{\"dow\":2,\"mod\":5},\"end\":{\"dow\":2,\"mod\":1435}},{\"start\":{\"dow\":3,\"mod\":5},\"end\":{\"dow\":3,\"mod\":1435}},{\"start\":{\"dow\":4,\"mod\":5},\"end\":{\"dow\":4,\"mod\":1435}},{\"start\":{\"dow\":5,\"mod\":5},\"end\":{\"dow\":5,\"mod\":1435}},{\"start\":{\"dow\":6,\"mod\":5},\"end\":{\"dow\":6,\"mod\":1435}},{\"start\":{\"dow\":0,\"mod\":5},\"end\":{\"dow\":0,\"mod\":1435}},{\"start\":{\"dow\":1,\"mod\":5},\"end\":{\"dow\":1,\"mod\":1435}}]",
        "name": "dark? (filter)",
        "onlyWhenDark": true,
        "scheduleRndMax": 0,
        "sunElevationThreshold": "0",
        "sunShowElevationInStatus": true,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "8193de22b9225b89"
            ],
            []
        ]
    },
    {
        "id": "a109a3be437e8898",
        "type": "trigger-state",
        "z": "afb0f186.cfb0d",
        "name": "home -> not_home",
        "server": "8b52884a.b76658",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.anyone_home",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home",
                "propertyValue": "old_state.state"
            }
        ],
        "inputs": 1,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": true,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "53bc270379b36276"
            ],
            []
        ]
    },
    {
        "id": "53bc270379b36276",
        "type": "subflow:43703bf3.b01b24",
        "z": "afb0f186.cfb0d",
        "name": "",
        "env": [],
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "de7ec5fa0d844b3e",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "office clock",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "",
        "entityId": "switch.sonoff_plug2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 690,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "18fde90dc9b35867",
        "type": "trigger",
        "z": "afb0f186.cfb0d",
        "name": "",
        "op1": "{\"service\":\"turn_on\"}",
        "op2": "{\"service\":\"turn_off\"}",
        "op1type": "json",
        "op2type": "json",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 410,
        "y": 680,
        "wires": [
            [
                "de7ec5fa0d844b3e",
                "05c46eac7eddc30f"
            ],
            [
                "de7ec5fa0d844b3e",
                "05c46eac7eddc30f"
            ]
        ]
    },
    {
        "id": "c35e61ae9dc92146",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "name": "covid deaths",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.united_kingdom_coronavirus_deaths",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "c318632dfc738833"
            ]
        ]
    },
    {
        "id": "c318632dfc738833",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "format",
        "func": "var message = msg.payload + \" people in the UK now DEAD from the Coronavirus\"\n\nmsg.payload = {\n    \"data\": {\n        message,\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 800,
        "wires": [
            [
                "da51086532dd9913"
            ]
        ]
    },
    {
        "id": "da51086532dd9913",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "announce",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media_office_echo",
        "entityId": "",
        "data": "{ \"message\": \"{{payload}}\", \"data\": { \"type\": \"announce\" }, \"target\": \"{{service}}\" }",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 800,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e7c48e4330e24293",
        "type": "inject",
        "z": "afb0f186.cfb0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "c35e61ae9dc92146"
            ]
        ]
    },
    {
        "id": "6961a37b9fcbe07d",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "turn on lounge light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.lounge_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 610,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d244a316123e0541",
        "type": "bigtimer",
        "z": "afb0f186.cfb0d",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "",
        "name": "11pm every day",
        "comment": "",
        "lat": "51.32063880734896",
        "lon": "-2.2089664938383327",
        "starttime": "1380",
        "endtime": "1395",
        "starttime2": "0",
        "endtime2": "0",
        "startoff": "0",
        "endoff": "0",
        "startoff2": "",
        "endoff2": "",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "f4d8b50cab484717"
            ],
            [],
            []
        ]
    },
    {
        "id": "622ad5815186c1e3",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "turn off lounge light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.lounge_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 610,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2f83921a8de3c8f4",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "6961a37b9fcbe07d"
            ],
            []
        ]
    },
    {
        "id": "f4d8b50cab484717",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "name": "in lounge?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "lounge",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.pixel_4a_room_presence",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "622ad5815186c1e3"
            ],
            []
        ]
    },
    {
        "id": "cc3f2a6d4b923938",
        "type": "light-scheduler",
        "z": "afb0f186.cfb0d",
        "settings": "f26da246.74a7f",
        "events": "[{\"start\":{\"dow\":1,\"mod\":5},\"end\":{\"dow\":1,\"mod\":1435}},{\"start\":{\"dow\":2,\"mod\":10},\"end\":{\"dow\":2,\"mod\":1435}},{\"start\":{\"dow\":3,\"mod\":5},\"end\":{\"dow\":3,\"mod\":1435}},{\"start\":{\"dow\":4,\"mod\":5},\"end\":{\"dow\":4,\"mod\":1435}},{\"start\":{\"dow\":5,\"mod\":5},\"end\":{\"dow\":5,\"mod\":1435}},{\"start\":{\"dow\":6,\"mod\":5},\"end\":{\"dow\":6,\"mod\":1435}},{\"start\":{\"dow\":0,\"mod\":5},\"end\":{\"dow\":0,\"mod\":1435}}]",
        "topic": "",
        "name": "dark?",
        "onPayload": "ON",
        "onPayloadType": "str",
        "offPayload": "OFF",
        "offPayloadType": "str",
        "onlyWhenDark": true,
        "scheduleRndMax": 0,
        "sunElevationThreshold": "0",
        "sunShowElevationInStatus": false,
        "outputfreq": "output.statechange.startup",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "2f83921a8de3c8f4"
            ]
        ]
    },
    {
        "id": "b43cd58e779f418f",
        "type": "http request",
        "z": "afb0f186.cfb0d",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://habitica.com/api/v3/tasks/ae90a17b-597f-44e6-80b0-69e194896bc7/score/up",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 710,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "5d41c143bd102136",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "format",
        "func": "var key = msg.key\nvar user = msg.user\n\n//msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['x-api-user'] = user;\nmsg.headers['x-api-key'] = key;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 940,
        "wires": [
            [
                "b43cd58e779f418f"
            ]
        ]
    },
    {
        "id": "8895c40ab576f5c2",
        "type": "credentials",
        "z": "afb0f186.cfb0d",
        "name": "credentials",
        "props": [
            {
                "value": "key",
                "type": "msg"
            },
            {
                "value": "user",
                "type": "msg"
            }
        ],
        "x": 350,
        "y": 940,
        "wires": [
            [
                "5d41c143bd102136"
            ]
        ]
    },
    {
        "id": "88aa0195e7d957cd",
        "type": "server-state-changed",
        "z": "afb0f186.cfb0d",
        "name": "push button",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.push_button_action",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "single",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 940,
        "wires": [
            [
                "8895c40ab576f5c2"
            ],
            []
        ]
    },
    {
        "id": "a2d9e6910b6bf68b",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Habitica complete task",
        "info": "",
        "x": 150,
        "y": 880,
        "wires": []
    },
    {
        "id": "11d10cf26cd0621d",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Lighting",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "60f4252274bd52d5",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Office automation",
        "info": "",
        "x": 140,
        "y": 600,
        "wires": []
    },
    {
        "id": "eae36b37750c19e9",
        "type": "server-state-changed",
        "z": "afb0f186.cfb0d",
        "name": "front door",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.front_door_contact_sensor_contact",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 140,
        "wires": [
            [],
            [
                "e2881d687528b305"
            ]
        ]
    },
    {
        "id": "ad4f6520ab385207",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "hallway light",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "",
        "entityId": "light.hallway",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 870,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8193de22b9225b89",
        "type": "trigger",
        "z": "afb0f186.cfb0d",
        "name": "",
        "op1": "{\"service\":\"turn_on\"}",
        "op2": "{\"service\":\"turn_off\"}",
        "op1type": "json",
        "op2type": "json",
        "duration": "300",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "ad4f6520ab385207"
            ],
            [
                "ad4f6520ab385207"
            ]
        ]
    },
    {
        "id": "1982bbc53713e747",
        "type": "server-state-changed",
        "z": "afb0f186.cfb0d",
        "name": "office occupancy",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.office_person",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "1",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 680,
        "wires": [
            [
                "18fde90dc9b35867"
            ],
            []
        ]
    },
    {
        "id": "05c46eac7eddc30f",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "warp core",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "",
        "entityId": "switch.sonoff_plug1",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 680,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6cb23d50.77ced4",
        "type": "bigtimer",
        "z": "4aedf9e8.044e08",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "",
        "name": "2am every day",
        "comment": "",
        "lat": "51.32063880734896",
        "lon": "-2.2089664938383327",
        "starttime": "120",
        "endtime": "135",
        "starttime2": "0",
        "endtime2": "0",
        "startoff": "0",
        "endoff": "0",
        "startoff2": "",
        "endoff2": "",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "cd1caa8c.300358",
                "910caaaf.b41098"
            ],
            [],
            []
        ]
    },
    {
        "id": "c77d382a.cb6bf8",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 530,
        "y": 140,
        "wires": [
            [],
            [
                "8d782ee4.3daf1"
            ]
        ]
    },
    {
        "id": "bafec0ae.30733",
        "type": "inject",
        "z": "4aedf9e8.044e08",
        "name": "force-run",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "cd1caa8c.300358"
            ]
        ]
    },
    {
        "id": "24e58e6b.442df2",
        "type": "bigtimer",
        "z": "4aedf9e8.044e08",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "",
        "name": "7am every day",
        "comment": "",
        "lat": "51.32063880734896",
        "lon": "-2.2089664938383327",
        "starttime": "420",
        "endtime": "435",
        "starttime2": "0",
        "endtime2": "0",
        "startoff": "0",
        "endoff": "0",
        "startoff2": "",
        "endoff2": "",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "b15d162c.105c28"
            ],
            [],
            []
        ]
    },
    {
        "id": "73c30e71.e8d46",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 530,
        "y": 420,
        "wires": [
            [],
            [
                "f36487b8.7e8c48"
            ]
        ]
    },
    {
        "id": "d6646d02.af28b",
        "type": "inject",
        "z": "4aedf9e8.044e08",
        "name": "force-run",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "b15d162c.105c28"
            ]
        ]
    },
    {
        "id": "8d782ee4.3daf1",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "alarm disarmed?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 750,
        "y": 140,
        "wires": [
            [],
            [
                "03f68328699a88c3"
            ]
        ]
    },
    {
        "id": "f36487b8.7e8c48",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "alarm not disarmed?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 800,
        "y": 420,
        "wires": [
            [],
            [
                "81c2d258.033ce"
            ]
        ]
    },
    {
        "id": "cd1caa8c.300358",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.auto_arm_disarm_alarm_night",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 350,
        "y": 140,
        "wires": [
            [],
            [
                "c77d382a.cb6bf8"
            ]
        ]
    },
    {
        "id": "b15d162c.105c28",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.auto_arm_disarm_alarm_night",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 350,
        "y": 420,
        "wires": [
            [],
            [
                "73c30e71.e8d46"
            ]
        ]
    },
    {
        "id": "1104f7d2.7a2938",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Android msg",
        "func": "var action = msg.payload\n\nvar category = \"alarm\"\nvar title = \"Alarm System\"\nvar message = \"Alarm is now \" + action\n\n\nmsg.payload = {\n    \"data\": {\n        message,\n        title,\n        data: {\n            push: {\n                category: category\n            }\n        }\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 680,
        "wires": [
            [
                "aeafe637.1aeaf8"
            ]
        ]
    },
    {
        "id": "aeafe637.1aeaf8",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "notify Russell android",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_pixel_4a",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1800,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "3700839b.3d543c",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Triggered",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "triggered",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "output_only_on_state_change": false,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 860,
        "wires": [
            [],
            [
                "cca292a3.05942"
            ]
        ]
    },
    {
        "id": "7cf2a0d2.f39ae",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "not home?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 530,
        "y": 680,
        "wires": [
            [],
            [
                "fe046407.ab0868"
            ]
        ]
    },
    {
        "id": "71941591.c8558c",
        "type": "trigger-state",
        "z": "4aedf9e8.044e08",
        "name": "home -> not_home",
        "server": "8b52884a.b76658",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.anyone_home",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home",
                "propertyValue": "old_state.state"
            }
        ],
        "inputs": 1,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": true,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "ccda8ca7.269df"
            ],
            []
        ]
    },
    {
        "id": "ccda8ca7.269df",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.auto_arm_alarm_when_gone",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 350,
        "y": 300,
        "wires": [
            [],
            [
                "892a8bfd.69c738"
            ]
        ]
    },
    {
        "id": "892a8bfd.69c738",
        "type": "credentials",
        "z": "4aedf9e8.044e08",
        "name": "alarm code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "c901e347.7a1dc"
            ]
        ]
    },
    {
        "id": "c901e347.7a1dc",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "arm alarm away",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_away",
        "entityId": "alarm_control_panel.alarm_panel",
        "data": "{\"code\":\"{{ alarm_code }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1280,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d530f3f1.e8195",
        "type": "trigger-state",
        "z": "4aedf9e8.044e08",
        "name": "not_home -> home",
        "server": "8b52884a.b76658",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.anyone_home",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "old_state.state"
            }
        ],
        "inputs": 1,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": true,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "7f300b61.5a4044"
            ],
            []
        ]
    },
    {
        "id": "7f300b61.5a4044",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.auto_disarm_alarm_when_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 350,
        "y": 560,
        "wires": [
            [],
            [
                "81c2d258.033ce"
            ]
        ]
    },
    {
        "id": "81c2d258.033ce",
        "type": "credentials",
        "z": "4aedf9e8.044e08",
        "name": "alarm code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 990,
        "y": 560,
        "wires": [
            [
                "d837e04d.b2546"
            ]
        ]
    },
    {
        "id": "d837e04d.b2546",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "disarm alarm",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_disarm",
        "entityId": "alarm_control_panel.alarm_panel",
        "data": "{\"code\":\"{{ alarm_code }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1230,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3d0081db.06ffce",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.notify_alarm_armed",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 330,
        "y": 680,
        "wires": [
            [],
            [
                "7cf2a0d2.f39ae"
            ]
        ]
    },
    {
        "id": "7c85f3a.d00500c",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.notify_alarm_disarmed",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 330,
        "y": 760,
        "wires": [
            [],
            [
                "7cf2a0d2.f39ae",
                "c28e839a592e1ad9"
            ]
        ]
    },
    {
        "id": "cca292a3.05942",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.notify_alarm_triggered",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 470,
        "y": 840,
        "wires": [
            [],
            [
                "8af4ba1c.44a458",
                "c7a9e7a495ed59d3"
            ]
        ]
    },
    {
        "id": "fe046407.ab0868",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Status",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 710,
        "y": 680,
        "wires": [
            [
                "1104f7d2.7a2938"
            ]
        ]
    },
    {
        "id": "1ab168ac.d3e527",
        "type": "trigger-state",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Disarmed",
        "server": "8b52884a.b76658",
        "version": 1,
        "entityid": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "u92ykgxcnd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            },
            {
                "id": "2vhxcfx6q13",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            }
        ],
        "inputs": 1,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": true,
        "x": 120,
        "y": 760,
        "wires": [
            [
                "7c85f3a.d00500c"
            ],
            []
        ]
    },
    {
        "id": "cea06a40.728948",
        "type": "trigger-state",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Armed",
        "server": "8b52884a.b76658",
        "version": 1,
        "entityid": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ty01v74n8h",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "re",
                "comparatorValue": "^armed.*"
            },
            {
                "id": "i15iybgnzt",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "re",
                "comparatorValue": "^armed.*"
            }
        ],
        "inputs": 1,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": true,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "3d0081db.06ffce"
            ],
            []
        ]
    },
    {
        "id": "8af4ba1c.44a458",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Triggerred Android msg",
        "func": "var category = \"alarm\"\nvar title = \" INTRUDER ALARM TRIGGERED! \"\nvar message = \"INTRUDER ALARM HAS TRIGGERED! OMG WTFBBQ!!!!111  \\n\"\n\nmsg.payload = {\n    \"data\": {\n        message,\n        title,\n        data: {\n            push: {\n                category: category,\n                sound: {\n                  name: \"ct-error.caf\",\n                  critical: 1,\n                  volume: 1.0\n                }\n            }\n        }\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 920,
        "wires": [
            [
                "e2f0bf60.7c222"
            ]
        ]
    },
    {
        "id": "e2f0bf60.7c222",
        "type": "delay",
        "z": "4aedf9e8.044e08",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1300,
        "y": 920,
        "wires": [
            [
                "aeafe637.1aeaf8"
            ]
        ]
    },
    {
        "id": "910caaaf.b41098",
        "type": "subflow:43703bf3.b01b24",
        "z": "4aedf9e8.044e08",
        "name": "",
        "env": [],
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "e021dad5f8f45d4e",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "landing motion",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.landing_motion",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 1020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "57d24fab2cc21bf7",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "alarm armed home?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "armed_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "9f89b06296441bf5"
            ],
            []
        ]
    },
    {
        "id": "9f89b06296441bf5",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "trigger",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "entityId": "alarm_control_panel.alarm_panel",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 750,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "9637fd97fca06cc2",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "alarm armed away?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "armed_away",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 470,
        "y": 1180,
        "wires": [
            [
                "9f89b06296441bf5"
            ],
            []
        ]
    },
    {
        "id": "621ca1e8399b5330",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "office motion",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.office_motion_sensor_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1080,
        "wires": [
            [],
            [
                "9637fd97fca06cc2"
            ]
        ]
    },
    {
        "id": "cb4f4c10fdcaa680",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "lounge motion",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.lounge_motion_sensor_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1140,
        "wires": [
            [],
            [
                "9637fd97fca06cc2",
                "57d24fab2cc21bf7"
            ]
        ]
    },
    {
        "id": "4dee70f9cb993118",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "front door",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.front_door_contact_sensor_contact",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 1200,
        "wires": [
            [],
            [
                "9637fd97fca06cc2",
                "57d24fab2cc21bf7"
            ]
        ]
    },
    {
        "id": "4fc12d785f985db3",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "kitchen door",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.kitchen_contact_sensor_contact",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1260,
        "wires": [
            [],
            [
                "57d24fab2cc21bf7",
                "9637fd97fca06cc2"
            ]
        ]
    },
    {
        "id": "4a2a73083e98978b",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "office WIndow",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.office_contact_sensor_contact",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1320,
        "wires": [
            [],
            [
                "9637fd97fca06cc2",
                "57d24fab2cc21bf7"
            ]
        ]
    },
    {
        "id": "bf3403ee4de55f27",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "lounge WIndow",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.lounge_contact_sensor_contact",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 1380,
        "wires": [
            [],
            [
                "57d24fab2cc21bf7",
                "9637fd97fca06cc2"
            ]
        ]
    },
    {
        "id": "189a46476efd5beb",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "arm alarm home",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_home",
        "entityId": "alarm_control_panel.alarm_panel",
        "data": "{\"code\":\"{{ alarm_code }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1260,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "03f68328699a88c3",
        "type": "credentials",
        "z": "4aedf9e8.044e08",
        "name": "alarm code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "189a46476efd5beb"
            ]
        ]
    },
    {
        "id": "d1dcac1eeeb1de5c",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "Alarm triggered Alexa message",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media_everywhere",
        "entityId": "",
        "data": "{ \"message\": \"{{payload}}\", \"data\": { \"type\": \"announce\" }, \"target\": \"{{service}}\" }",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 910,
        "y": 820,
        "wires": [
            [
                "a16755e15d896fc1"
            ]
        ]
    },
    {
        "id": "c7a9e7a495ed59d3",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Message",
        "func": "var message = \"Please vacate the premises, the authorities have been contacted\"\n\nmsg.payload = {\n    \"data\": {\n        message,\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 820,
        "wires": [
            [
                "d1dcac1eeeb1de5c"
            ]
        ]
    },
    {
        "id": "7617c5a77ae8e5fb",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Triggers",
        "info": "",
        "x": 100,
        "y": 960,
        "wires": []
    },
    {
        "id": "8030f590b2e88311",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Activate alarm",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "5dffbd88127b7314",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Deactivate alarm",
        "info": "",
        "x": 120,
        "y": 360,
        "wires": []
    },
    {
        "id": "f69bf36c5d17a719",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Notifications",
        "info": "",
        "x": 110,
        "y": 640,
        "wires": []
    },
    {
        "id": "581603c66ffcc56c",
        "type": "mqtt out",
        "z": "4aedf9e8.044e08",
        "name": "",
        "topic": "zigbee2mqtt/alarm_siren/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "649859a4.a17818",
        "x": 1420,
        "y": 760,
        "wires": []
    },
    {
        "id": "a16755e15d896fc1",
        "type": "template",
        "z": "4aedf9e8.044e08",
        "name": "Sound siren",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"warning\": {\n        \"level\": \"high\",\n        \"duration\": 300, \n        \"mode\": \"emergency\", \n        \"strobe\": true,\n        \"strobe_duty_cycle\": 1,\n        \"strobe_level\": \"very_high\"\n    }\n}",
        "output": "str",
        "x": 1170,
        "y": 820,
        "wires": [
            [
                "581603c66ffcc56c"
            ]
        ]
    },
    {
        "id": "c28e839a592e1ad9",
        "type": "template",
        "z": "4aedf9e8.044e08",
        "name": "Stop siren",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"warning\": {\n        \"mode\": \"stop\"\n    }\n}",
        "output": "str",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "581603c66ffcc56c"
            ]
        ]
    },
    {
        "id": "f77b8eb2c40d940c",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "office smoke",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.smoke_detector_office_smoke",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "office",
                "valueType": "str"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 990,
        "y": 1060,
        "wires": [
            [],
            [
                "6202624186e1ae93"
            ]
        ]
    },
    {
        "id": "57fe37a14360d316",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "front bedroom smoke",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.smoke_detector_server_smoke",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "server",
                "valueType": "str"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 1020,
        "y": 1140,
        "wires": [
            [],
            [
                "6202624186e1ae93"
            ]
        ]
    },
    {
        "id": "298ba567d33e1abb",
        "type": "delay",
        "z": "4aedf9e8.044e08",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1600,
        "y": 1060,
        "wires": [
            [
                "aeafe637.1aeaf8"
            ]
        ]
    },
    {
        "id": "6202624186e1ae93",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Triggerred Android msg",
        "func": "var detector = msg.payload\nvar category = \"alarm\"\nvar title = \" FIRE ALARM TRIGGERED! \"\nvar message = detector + \" FIRE ALARM HAS TRIGGERED! OMG WTFBBQ!!!!111  \\n\"\n\nmsg.payload = {\n    \"data\": {\n        message,\n        title,\n        data: {\n            push: {\n                category: category,\n                sound: {\n                  name: \"ct-error.caf\",\n                  critical: 1,\n                  volume: 1.0\n                }\n            }\n        }\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1060,
        "wires": [
            [
                "298ba567d33e1abb"
            ]
        ]
    },
    {
        "id": "140ad89e28959f86",
        "type": "mqtt in",
        "z": "4aedf9e8.044e08",
        "name": "",
        "topic": "frigate/events",
        "qos": "2",
        "datatype": "auto",
        "broker": "649859a4.a17818",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 1560,
        "wires": [
            [
                "eca2e77ac3f36aef"
            ]
        ]
    },
    {
        "id": "849d691993512da8",
        "type": "json",
        "z": "4aedf9e8.044e08",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 1560,
        "wires": [
            [
                "4ebdf9461cfeb197"
            ]
        ]
    },
    {
        "id": "c26b1fe75d6d364a",
        "type": "switch",
        "z": "4aedf9e8.044e08",
        "name": "filter",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "new",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "end",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 1560,
        "wires": [
            [
                "3c6564a40042571c"
            ],
            []
        ]
    },
    {
        "id": "5e490282ad6c69b1",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Frigate notifications",
        "info": " - ",
        "x": 150,
        "y": 1500,
        "wires": []
    },
    {
        "id": "3c6564a40042571c",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Format notification",
        "func": "ha_external_url  = \"https://hass.microserver.space\";\nfrigate_external_url = \"https://frigate.microserver.space\"\n\nmsg.event_id     = msg.payload.after.id;\nmsg.clip         = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/\" + msg.payload.after.camera + \"/clip.mp4\";\nmsg.thumbnail    = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/thumbnail.jpg?format=android\";\nmsg.topic        = msg.payload.after.camera + \"-\" + msg.payload.after.label;\nmsg.relativetime = msg.relativetime || \"7 minutes\";\n\nswitch (msg.payload.after.camera) {\n    case('office'):\n        msg.verb = \"at\";\n        msg.location = 'office';\n        msg.uri = frigate_external_url + \"/api/office?h=1080\";\n        break;\n    case('driveway'):\n        msg.verb = \"in\";\n        msg.location = \"driveway\";\n        msg.uri = frigate_external_url + \"/api/garage?h=1080\";\n        break;    \n    case('lounge'):\n        msg.verb = \"in\";\n        msg.location = \"lounge\";\n        msg.uri = frigate_external_url + \"/api/garage?h=1080\";\n        break;\n\n    default:\n        msg.verb = \"in\";\n        msg.location = msg.payload.after.camera;\n}\n\nmsg.message     = \"A \" + msg.payload.after.label + \" is \" + msg.verb + \" the \" + msg.location;\n\nmsg.payload     = { data: {'message': msg.message, data: {'image': msg.thumbnail, 'clickAction': msg.clip, 'sticky': true,'color': \"#2DF56D\", 'actions': [{'action': \"URI\",'title': \"Watch Live Stream\", 'uri': msg.uri  }],'ttl': 0, 'group': \"motion-group\", 'priority': \"High\"  }}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1560,
        "wires": [
            [
                "093a54b41140006f"
            ]
        ]
    },
    {
        "id": "093a54b41140006f",
        "type": "rbe",
        "z": "4aedf9e8.044e08",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "event_id",
        "topi": "topic",
        "x": 1190,
        "y": 1560,
        "wires": [
            [
                "db1df61dc4510369"
            ]
        ]
    },
    {
        "id": "db1df61dc4510369",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Rate Limiter",
        "func": "// Defaults to 10 minutes, overridable with msg.ratelimitms\n// Will limit per topic (including by null ones)\nvar interval = msg.ratelimitms || (1000*60*10); // minimum interval between messages (ms)\nvar countToTrigger = msg.countToTrigger || 1;\nvar lastReleasedKey = \"lastReleased_\" + (msg.topic.replace(/ /g, \"_\") || \"null_topic\");\nvar lastHitKey = \"lastHit_\" + (msg.topic.replace(/ /g, \"_\") || \"null_topic\");\nvar cntKey = \"count_\" + (msg.topic.replace(/ /g, \"_\") || \"null_topic\");\nvar lastReleased = (context.get(lastReleasedKey) || 0);\nvar lastHit = (context.get(lastHitKey) || 0);\nvar now = Date.now();\nif (now-lastHit > interval) {\n    node.warn(\"resetting count, too far apart.\");\n    context.set(cntKey,0); // Clear hits, too far apart.\n}\ncontext.set(lastHitKey,now);\nif (now-lastReleased > interval) {\n    var count = (context.get(cntKey) || 0);\n    count++;\n    if (count >= countToTrigger) {\n        context.set(lastReleasedKey,now);\n        context.set(cntKey,0);\n        node.status({fill:\"green\",shape:\"ring\",text:\"passed on\"});\n        return msg;\n    } else {\n        node.status({fill:\"red\",shape:\"ring\",text:\"Waiting for \" + \n            (countToTrigger - count) + \" more hits.\"});\n        context.set(cntKey,count);\n        return null;\n    }\n} else {\n    var timeLeft = (interval - (now-lastReleased)) / 1000;  \n    node.status({fill:\"red\",shape:\"ring\",text:\"blocked for \" + timeLeft + \" seconds\"});\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1560,
        "wires": [
            [
                "4ab59585c9cb64a2"
            ]
        ]
    },
    {
        "id": "976188a41a764755",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Limits notifications per camera-object",
        "info": " - ",
        "x": 1430,
        "y": 1500,
        "wires": []
    },
    {
        "id": "4ab59585c9cb64a2",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "Notify (Android)",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_pixel_4a",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1560,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "eca2e77ac3f36aef",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "not home?",
        "server": "8b52884a.b76658",
        "version": 2,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 270,
        "y": 1560,
        "wires": [
            [],
            [
                "849d691993512da8"
            ]
        ]
    },
    {
        "id": "4ebdf9461cfeb197",
        "type": "switch",
        "z": "4aedf9e8.044e08",
        "name": "camera",
        "property": "payload.after.camera",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "office",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lounge",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 1560,
        "wires": [
            [
                "c26b1fe75d6d364a"
            ],
            []
        ]
    },
    {
        "id": "f92e64aaa31fb31c",
        "type": "mqtt in",
        "z": "cf24db3435ba68ad",
        "name": "",
        "topic": "zigbee2mqtt/heating_controller",
        "qos": "2",
        "datatype": "auto",
        "broker": "649859a4.a17818",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 60,
        "wires": [
            [
                "70f75775e660535b"
            ]
        ]
    },
    {
        "id": "70f75775e660535b",
        "type": "json",
        "z": "cf24db3435ba68ad",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "f1549a3d6d78367a",
                "5b3374647f98755c",
                "496540910ac73230",
                "1ec2762dc71884a5"
            ]
        ]
    },
    {
        "id": "f1549a3d6d78367a",
        "type": "change",
        "z": "cf24db3435ba68ad",
        "name": "Current Setpoint",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current_heating_setpoint",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "5b3374647f98755c",
        "type": "change",
        "z": "cf24db3435ba68ad",
        "name": "Local temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.local_temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "496540910ac73230",
        "type": "switch",
        "z": "cf24db3435ba68ad",
        "name": "Preset != hold",
        "property": "payload.preset_mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 80,
        "wires": [
            [
                "ee442106bfadffb7"
            ]
        ]
    },
    {
        "id": "ee442106bfadffb7",
        "type": "template",
        "z": "cf24db3435ba68ad",
        "name": "Set preset to hold",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"preset\": \"hold\"}",
        "output": "str",
        "x": 920,
        "y": 80,
        "wires": [
            [
                "ebec1787363df97e"
            ]
        ]
    },
    {
        "id": "ebec1787363df97e",
        "type": "delay",
        "z": "cf24db3435ba68ad",
        "name": "limit 5 msg/s",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1140,
        "y": 80,
        "wires": [
            [
                "89cf13b4556cb961"
            ]
        ]
    },
    {
        "id": "89cf13b4556cb961",
        "type": "mqtt out",
        "z": "cf24db3435ba68ad",
        "name": "",
        "topic": "zigbee2mqtt/heating_controller/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "649859a4.a17818",
        "x": 1510,
        "y": 80,
        "wires": []
    },
    {
        "id": "1ec2762dc71884a5",
        "type": "change",
        "z": "cf24db3435ba68ad",
        "name": "Set system mode",
        "rules": [
            {
                "t": "change",
                "p": "payload.system_mode",
                "pt": "msg",
                "from": "heat",
                "fromt": "str",
                "to": "{\"service\":\"turn_on\"}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload.system_mode",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "{\"service\":\"turn_off\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.system_mode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d841ce2f97c502f8",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "name": "Heating schedule toggle",
        "server": "8b52884a.b76658",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "input_boolean.enable_heating_schedules",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on",
                "propertyValue": "old_state.state"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": false,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "4aed068020384b78"
            ],
            [
                "2447d1c9ace3b941"
            ]
        ]
    },
    {
        "id": "4aed068020384b78",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "name": "Turn off heating schedules",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "group.heating_schedules",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 530,
        "y": 340,
        "wires": [
            [
                "f7e32eb6d1c2e7d6"
            ]
        ]
    },
    {
        "id": "2447d1c9ace3b941",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "name": "Turn on heating schedules",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "group.heating_schedules",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "424007945ad5ab08"
            ]
        ]
    },
    {
        "id": "dcc7804597eb25ec",
        "type": "template",
        "z": "cf24db3435ba68ad",
        "name": "Wrap System Mode",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"system_mode\": \"{{payload}}\"}",
        "output": "str",
        "x": 1260,
        "y": 320,
        "wires": [
            [
                "89cf13b4556cb961"
            ]
        ]
    },
    {
        "id": "9f125b711ee6c3e4",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "name": "Switch on or off",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "",
        "entityId": "input_boolean.heating_mode",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 920,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "424007945ad5ab08",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "name": "Run schedule",
        "server": "8b52884a.b76658",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scheduler",
        "service": "run_action",
        "entityId": "climate.heating_controller",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 790,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f7e32eb6d1c2e7d6",
        "type": "function",
        "z": "cf24db3435ba68ad",
        "name": "turn_off",
        "func": "msg.payload = \"off\"\n\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 340,
        "wires": [
            [
                "dcc7804597eb25ec"
            ]
        ]
    },
    {
        "id": "ce29b54fee8ac32e",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "name": "home -> not_home",
        "server": "8b52884a.b76658",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.anyone_home",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home",
                "propertyValue": "old_state.state"
            }
        ],
        "inputs": 1,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": true,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "4aed068020384b78"
            ],
            []
        ]
    },
    {
        "id": "1b39e02438a1c605",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "name": "not_home -> home",
        "server": "8b52884a.b76658",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.anyone_home",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "old_state.state"
            }
        ],
        "inputs": 1,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": true,
        "x": 180,
        "y": 500,
        "wires": [
            [
                "2447d1c9ace3b941"
            ],
            []
        ]
    }
]