flows.json
[
    {
        "id": "afb0f186.cfb0d",
        "type": "tab",
        "label": "Home Assistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf24db3435ba68ad",
        "type": "tab",
        "label": "Heating",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4aedf9e8.044e08",
        "type": "tab",
        "label": "Alarm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f987904ca78a23d7",
        "type": "tab",
        "label": "Cameras",
        "disabled": false,
        "info": ""
    },
    {
        "id": "43703bf3.b01b24",
        "type": "subflow",
        "name": "turn off lights",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "6050e0f4.c5a5f"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "998559de1e6b81d6",
        "type": "subflow",
        "name": "hyperion request",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 80,
                "wires": [
                    {
                        "id": "edc52ba0eebf13d2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 80,
                "wires": [
                    {
                        "id": "be418e669847012b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ebce7e9e955e453a",
        "type": "subflow",
        "name": "frigate camera",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 960,
                "y": 80,
                "wires": [
                    {
                        "id": "39f15089eb952cc2",
                        "port": 0
                    }
                ]
            },
            {
                "x": 960,
                "y": 80,
                "wires": [
                    {
                        "id": "39f15089eb952cc2",
                        "port": 1
                    }
                ]
            },
            {
                "x": 960,
                "y": 80,
                "wires": [
                    {
                        "id": "39f15089eb952cc2",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "388a0944765f5992",
        "type": "subflow",
        "name": "RF Link events",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 140,
                "wires": [
                    {
                        "id": "cabf8a354c2f0836"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1280,
                "y": 160,
                "wires": [
                    {
                        "id": "8c168f017e561936",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1280,
                "y": 160,
                "wires": [
                    {
                        "id": "1382267f965f5f71",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1280,
                "y": 160,
                "wires": [
                    {
                        "id": "81dd1b1b403c5241",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1280,
                "y": 160,
                "wires": [
                    {
                        "id": "5b1f790ce9151551",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1280,
                "y": 160,
                "wires": [
                    {
                        "id": "16b906f30e563bd0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5be2ecb5576efb75",
        "type": "junction",
        "z": "f987904ca78a23d7",
        "d": true,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "7d14421895ba3bd2"
            ]
        ]
    },
    {
        "id": "7c18013c40d0c4e7",
        "type": "junction",
        "z": "f987904ca78a23d7",
        "d": true,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "7d14421895ba3bd2"
            ]
        ]
    },
    {
        "id": "d3e9ebbaa7917aca",
        "type": "junction",
        "z": "f987904ca78a23d7",
        "d": true,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "cb33c256a819acda"
            ]
        ]
    },
    {
        "id": "8b52884a.b76658",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "649859a4.a17818",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "emqx-headless",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f26da246.74a7f",
        "type": "light-scheduler-settings",
        "name": "home",
        "latitude": "51.32063881375498",
        "longitude": "-2.2091381568202313"
    },
    {
        "id": "06a202b01db68d7e",
        "type": "plex-ws-server",
        "hostname": "plex.media.svc",
        "port": "32400",
        "timeout": "1000",
        "token": "1VHgvvssHeNS8ZATAdxE",
        "secure": false
    },
    {
        "id": "6050e0f4.c5a5f",
        "type": "function",
        "z": "43703bf3.b01b24",
        "name": "turn_off",
        "func": "var service = \"turn_off\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "510bee04.ba47c",
                "10d4db91.a75214",
                "39b8136a.8621ec",
                "da8d24c5.0c87e8",
                "61b4bf0b24758188",
                "8c9d4e0639f258ad"
            ]
        ]
    },
    {
        "id": "da8d24c5.0c87e8",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "office group",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "group.office_group"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 410,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "510bee04.ba47c",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "hall light",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.hallway_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "10d4db91.a75214",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "bedroom light",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.bedroom_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 420,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "39b8136a.8621ec",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "bathroom light",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.bathroom_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "61b4bf0b24758188",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "landing light",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.landing_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 410,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8c9d4e0639f258ad",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "lounge group",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "group.lounge_group"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "89834abb.4ef668",
        "type": "api-call-service",
        "z": "43703bf3.b01b24",
        "name": "lounge light",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lounge_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cf834f57adf1a90c",
        "type": "comment",
        "z": "43703bf3.b01b24",
        "name": "Uses own schedule",
        "info": "",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "403394b42c104bf5",
        "type": "http request",
        "z": "998559de1e6b81d6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://hyper.microserver.space:8090/json-rpc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 80,
        "wires": [
            [
                "be418e669847012b"
            ]
        ]
    },
    {
        "id": "edc52ba0eebf13d2",
        "type": "function",
        "z": "998559de1e6b81d6",
        "name": "format",
        "func": "msg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.payload = {\n     \"command\":\"serverinfo\",\n     \"tan\":1\n    };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 80,
        "wires": [
            [
                "403394b42c104bf5"
            ]
        ]
    },
    {
        "id": "be418e669847012b",
        "type": "json",
        "z": "998559de1e6b81d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "39f15089eb952cc2",
        "type": "switch",
        "z": "ebce7e9e955e453a",
        "name": "1.driveway-- 2.lounge-- 3. office",
        "property": "payload.after.camera",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "driveway",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lounge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "office",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ],
        "info": "Change **front** and **back** Switch names to be the names of your cameras defined in the Frigate Config"
    },
    {
        "id": "683b8a153e6c214f",
        "type": "mqtt in",
        "z": "ebce7e9e955e453a",
        "name": "",
        "topic": "frigate/events",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "649859a4.a17818",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "8d0a40061aa86682"
            ]
        ]
    },
    {
        "id": "8d0a40061aa86682",
        "type": "rbe",
        "z": "ebce7e9e955e453a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload.after.id",
        "topi": "topic",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "39f15089eb952cc2"
            ]
        ],
        "info": "Block any Messages that have  duplicate After ID.  Cuts down on multiple mqtt messages for the same notification"
    },
    {
        "id": "4b2dac557381f572",
        "type": "comment",
        "z": "ebce7e9e955e453a",
        "name": "Automation Based on Frigate Camera Name",
        "info": "Flow to action something based on the camera name that triggered detction",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "cabf8a354c2f0836",
        "type": "switch",
        "z": "388a0944765f5992",
        "name": "Door bell - > A -> B -> C -> D",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "switch.friedland_57399aa6_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.remote_button_a",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.remote_button_b",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.remote_button_c",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.remote_button_d",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "5886684e1d55af0f"
            ],
            [
                "98ca3ff1b855bfca"
            ],
            [
                "3214a2343c914725"
            ],
            [
                "75a8b316d4a37849"
            ],
            [
                "c2b5b539cfbad9b5"
            ]
        ]
    },
    {
        "id": "5886684e1d55af0f",
        "type": "delay",
        "z": "388a0944765f5992",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 60,
        "wires": [
            [
                "8c168f017e561936"
            ]
        ]
    },
    {
        "id": "8c168f017e561936",
        "type": "change",
        "z": "388a0944765f5992",
        "name": "entity id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "98ca3ff1b855bfca",
        "type": "delay",
        "z": "388a0944765f5992",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 100,
        "wires": [
            [
                "1382267f965f5f71"
            ]
        ]
    },
    {
        "id": "1382267f965f5f71",
        "type": "change",
        "z": "388a0944765f5992",
        "name": "entity id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3214a2343c914725",
        "type": "delay",
        "z": "388a0944765f5992",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "81dd1b1b403c5241"
            ]
        ]
    },
    {
        "id": "81dd1b1b403c5241",
        "type": "change",
        "z": "388a0944765f5992",
        "name": "entity id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "75a8b316d4a37849",
        "type": "delay",
        "z": "388a0944765f5992",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "5b1f790ce9151551"
            ]
        ]
    },
    {
        "id": "5b1f790ce9151551",
        "type": "change",
        "z": "388a0944765f5992",
        "name": "entity id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c2b5b539cfbad9b5",
        "type": "delay",
        "z": "388a0944765f5992",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 220,
        "wires": [
            [
                "16b906f30e563bd0"
            ]
        ]
    },
    {
        "id": "16b906f30e563bd0",
        "type": "change",
        "z": "388a0944765f5992",
        "name": "entity id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f0357509eda72c8d",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "landing light",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.landing_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1070,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "312fc9f4c564b728",
        "type": "trigger",
        "z": "afb0f186.cfb0d",
        "name": "",
        "op1": "{\"service\":\"turn_on\"}",
        "op2": "{\"service\":\"turn_off\"}",
        "op1type": "json",
        "op2type": "json",
        "duration": "120",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 830,
        "y": 80,
        "wires": [
            [
                "f0357509eda72c8d"
            ],
            [
                "f0357509eda72c8d"
            ]
        ]
    },
    {
        "id": "de7ce92966ad9824",
        "type": "light-scheduler-filter",
        "z": "afb0f186.cfb0d",
        "settings": "f26da246.74a7f",
        "events": "[{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":1,\"mod\":1315}}]",
        "name": "dark? (filter)",
        "onlyWhenDark": true,
        "scheduleRndMax": 0,
        "sunElevationThreshold": "0",
        "sunShowElevationInStatus": true,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "312fc9f4c564b728"
            ],
            []
        ]
    },
    {
        "id": "9a771d738291330e",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "name": "stairs lights off?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.landing_light",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 360,
        "y": 80,
        "wires": [
            [],
            [
                "de7ce92966ad9824"
            ]
        ]
    },
    {
        "id": "e2881d687528b305",
        "type": "light-scheduler-filter",
        "z": "afb0f186.cfb0d",
        "settings": "f26da246.74a7f",
        "events": "[{\"start\":{\"dow\":2,\"mod\":5},\"end\":{\"dow\":2,\"mod\":1435}},{\"start\":{\"dow\":3,\"mod\":5},\"end\":{\"dow\":3,\"mod\":1435}},{\"start\":{\"dow\":4,\"mod\":5},\"end\":{\"dow\":4,\"mod\":1435}},{\"start\":{\"dow\":5,\"mod\":5},\"end\":{\"dow\":5,\"mod\":1435}},{\"start\":{\"dow\":6,\"mod\":5},\"end\":{\"dow\":6,\"mod\":1435}},{\"start\":{\"dow\":0,\"mod\":5},\"end\":{\"dow\":0,\"mod\":1435}},{\"start\":{\"dow\":1,\"mod\":5},\"end\":{\"dow\":1,\"mod\":1435}}]",
        "name": "dark? (filter)",
        "onlyWhenDark": true,
        "scheduleRndMax": 0,
        "sunElevationThreshold": "0",
        "sunShowElevationInStatus": true,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "f374141366c7085d"
            ],
            []
        ]
    },
    {
        "id": "a109a3be437e8898",
        "type": "trigger-state",
        "z": "afb0f186.cfb0d",
        "name": "home -> not_home",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.anyone_home",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 150,
        "y": 300,
        "wires": [
            [
                "53bc270379b36276"
            ],
            []
        ]
    },
    {
        "id": "53bc270379b36276",
        "type": "subflow:43703bf3.b01b24",
        "z": "afb0f186.cfb0d",
        "name": "",
        "env": [],
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "6961a37b9fcbe07d",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "turn on lounge light",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lounge_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 730,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2f83921a8de3c8f4",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "291e7bff21a777fc"
            ],
            []
        ]
    },
    {
        "id": "cc3f2a6d4b923938",
        "type": "light-scheduler",
        "z": "afb0f186.cfb0d",
        "settings": "f26da246.74a7f",
        "events": "[{\"start\":{\"dow\":1,\"mod\":5},\"end\":{\"dow\":1,\"mod\":1435}},{\"start\":{\"dow\":2,\"mod\":10},\"end\":{\"dow\":2,\"mod\":1435}},{\"start\":{\"dow\":3,\"mod\":5},\"end\":{\"dow\":3,\"mod\":1435}},{\"start\":{\"dow\":4,\"mod\":5},\"end\":{\"dow\":4,\"mod\":1435}},{\"start\":{\"dow\":5,\"mod\":5},\"end\":{\"dow\":5,\"mod\":1435}},{\"start\":{\"dow\":6,\"mod\":5},\"end\":{\"dow\":6,\"mod\":1435}},{\"start\":{\"dow\":0,\"mod\":5},\"end\":{\"dow\":0,\"mod\":1435}}]",
        "topic": "",
        "name": "dark?",
        "onPayload": "ON",
        "onPayloadType": "str",
        "offPayload": "OFF",
        "offPayloadType": "str",
        "onlyWhenDark": true,
        "scheduleRndMax": 0,
        "sunElevationThreshold": "0",
        "sunShowElevationInStatus": false,
        "outputfreq": "output.statechange.startup",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "2f83921a8de3c8f4"
            ]
        ]
    },
    {
        "id": "b43cd58e779f418f",
        "type": "http request",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://habitica.com/api/v3/tasks/ae90a17b-597f-44e6-80b0-69e194896bc7/score/up",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "5d41c143bd102136",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "format",
        "func": "var key = msg.key\nvar user = msg.user\n\n//msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['x-api-user'] = user;\nmsg.headers['x-api-key'] = key;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1160,
        "wires": [
            [
                "b43cd58e779f418f"
            ]
        ]
    },
    {
        "id": "8895c40ab576f5c2",
        "type": "credentials",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "credentials",
        "props": [
            {
                "value": "key",
                "type": "msg"
            },
            {
                "value": "user",
                "type": "msg"
            }
        ],
        "x": 430,
        "y": 1160,
        "wires": [
            [
                "5d41c143bd102136"
            ]
        ]
    },
    {
        "id": "a2d9e6910b6bf68b",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Habitica complete task",
        "info": "",
        "x": 150,
        "y": 1100,
        "wires": []
    },
    {
        "id": "11d10cf26cd0621d",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Lighting",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "60f4252274bd52d5",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Office automation",
        "info": "",
        "x": 140,
        "y": 720,
        "wires": []
    },
    {
        "id": "eae36b37750c19e9",
        "type": "server-state-changed",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "front door",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.front_door_contact_sensor_contact",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 180,
        "wires": [
            [],
            [
                "e2881d687528b305"
            ]
        ]
    },
    {
        "id": "20c8b5997b63e7ed",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Hyperion",
        "info": "",
        "x": 120,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ba93f0e29b5d98a1",
        "type": "http request",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://hyperhdr.russhome.xyz:8090/json-rpc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1630,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "7a308ec0c72ccb31",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "format",
        "func": "const command = msg.payload.state;\nconst component = msg.payload.component;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.payload = {\n     \"command\":\"componentstate\",\n     \"componentstate\":{\n       \"component\": component,\n       \"state\":command\n     }\n    };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1320,
        "wires": [
            [
                "ba93f0e29b5d98a1"
            ]
        ]
    },
    {
        "id": "dd17a9ab4546b537",
        "type": "server-state-changed",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "shield state",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "media_player.android_tv_10_20_0_13",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "91f387a44ca991a3"
            ]
        ]
    },
    {
        "id": "8cabbd8c69169c8b",
        "type": "switch",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 1440,
        "wires": [
            [
                "5492281fa2ad67c8"
            ],
            [
                "28f932ddd23b6eaa"
            ]
        ]
    },
    {
        "id": "2094b6cd173dd527",
        "type": "switch",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "instance state",
        "property": "payload.info.components[0].enabled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 1400,
        "wires": [
            [
                "88da13a932af2a88"
            ],
            [
                "e8173119d19d6f79"
            ]
        ]
    },
    {
        "id": "60e2e97cef1390a9",
        "type": "switch",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "HDR state",
        "property": "payload.info.components[1].enabled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 1480,
        "wires": [
            [
                "0c03cce0ff0b29cf"
            ],
            [
                "2d0f62af6ff45a02"
            ]
        ]
    },
    {
        "id": "88da13a932af2a88",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "Instance Off",
        "func": "msg = {payload: {state: false, \"component\": \"ALL\"}}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1320,
        "wires": [
            [
                "7a308ec0c72ccb31"
            ]
        ]
    },
    {
        "id": "e8173119d19d6f79",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "Instance On",
        "func": "msg = {payload: {state: true, \"component\": \"ALL\"}}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1400,
        "wires": [
            [
                "7a308ec0c72ccb31"
            ]
        ]
    },
    {
        "id": "2d0f62af6ff45a02",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "HDR Mode On",
        "func": "msg = {payload: {state: true, \"component\": \"HDR\"}}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1560,
        "wires": [
            [
                "7a308ec0c72ccb31"
            ]
        ]
    },
    {
        "id": "0c03cce0ff0b29cf",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "HDR Mode Off",
        "func": "msg = {payload: {state: false, \"component\": \"HDR\"}}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1480,
        "wires": [
            [
                "7a308ec0c72ccb31"
            ]
        ]
    },
    {
        "id": "5492281fa2ad67c8",
        "type": "subflow:998559de1e6b81d6",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "x": 620,
        "y": 1400,
        "wires": [
            [
                "2094b6cd173dd527"
            ]
        ]
    },
    {
        "id": "28f932ddd23b6eaa",
        "type": "subflow:998559de1e6b81d6",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "x": 620,
        "y": 1480,
        "wires": [
            [
                "60e2e97cef1390a9"
            ]
        ]
    },
    {
        "id": "685c4449f9f482aa",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "subwoofer",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "",
        "areaId": [],
        "deviceId": [
            "183749c90d59028b1f4a15f19fae6d68"
        ],
        "entityId": [
            "switch.localbytes_plug_pm_dc3584"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1130,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "2e5a11d811c61dc2",
        "type": "plex-ws-playing",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "Plex",
        "server": "06a202b01db68d7e",
        "allowUpdates": false,
        "filters": [],
        "x": 110,
        "y": 1560,
        "wires": [
            [
                "b9b61a1431198f1e"
            ]
        ]
    },
    {
        "id": "b9b61a1431198f1e",
        "type": "rbe",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "session.Media[0].videoProfile",
        "topi": "topic",
        "x": 330,
        "y": 1560,
        "wires": [
            [
                "d8f8aaaf9a8cf60c"
            ]
        ]
    },
    {
        "id": "d8f8aaaf9a8cf60c",
        "type": "switch",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "playing HDR?",
        "property": "session.Media[0].videoProfile",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "main 10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "main 10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 1560,
        "wires": [
            [
                "0c03cce0ff0b29cf"
            ],
            [
                "2d0f62af6ff45a02"
            ]
        ]
    },
    {
        "id": "216eeb1e6b3d9e94",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "office light",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.office_light_switch"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1560,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "10b730be93c36924",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "RF-Link",
        "info": "",
        "x": 90,
        "y": 2020,
        "wires": []
    },
    {
        "id": "ce9f1927ecf0b77c",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "light off?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.office_light_switch",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1160,
        "y": 2320,
        "wires": [
            [
                "43b507f0a4c03a0c"
            ],
            [
                "b63f260cb0200bf6"
            ]
        ]
    },
    {
        "id": "b63f260cb0200bf6",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "turn_off",
        "func": "var service = \"turn_off\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 2360,
        "wires": [
            [
                "216eeb1e6b3d9e94"
            ]
        ]
    },
    {
        "id": "43b507f0a4c03a0c",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "turn_on",
        "func": "var service = \"turn_on\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 2300,
        "wires": [
            [
                "216eeb1e6b3d9e94"
            ]
        ]
    },
    {
        "id": "4b48f3e738b62edb",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "alarm not disarmed?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 820,
        "y": 2240,
        "wires": [
            [],
            [
                "ba9e3e83d7bce571"
            ]
        ]
    },
    {
        "id": "ba9e3e83d7bce571",
        "type": "credentials",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "alarm code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 1050,
        "y": 2240,
        "wires": [
            [
                "06360ca603140fd6"
            ]
        ]
    },
    {
        "id": "06360ca603140fd6",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "disarm alarm",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "alarm_control_panel",
        "service": "alarm_disarm",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.alarm_panel"
        ],
        "data": "{\"code\":\"{{ alarm_code }}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1250,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "89b8ee7cc03fec61",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "notify Russell android",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_pixel_7a",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1680,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "26d6d10d7af28c12",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "Message",
        "func": "var message = \"Someone is at the door\"\n\nmsg.payload = {\n    \"data\": {\n        message,\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 2160,
        "wires": [
            [
                "7dc7d1c6d76cbc49"
            ]
        ]
    },
    {
        "id": "7dc7d1c6d76cbc49",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "Alexa notify",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "alexa_media_office_echo",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{ \"message\": \"{{payload}}\", \"data\": { \"type\": \"announce\" }, \"target\": \"{{service}}\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1030,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "62dc0308d6967c76",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "Format notification",
        "func": "const frigate_external_url = \"https://frigate.microserver.space\"\nconst ha_external_url  = \"https://hass.microserver.space\";\n\nmsg.event_id     = msg.payload;\nmsg.clip         = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/driveway\" + \"/clip.mp4\";\nmsg.thumbnail    = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/thumbnail.jpg?format=android\";\nmsg.uri          = \"https://frigate.microserver.space/api/driveway?h=1080\";\nmsg.message     = \"Someone is at the door\";\nmsg.payload     = { data: {'message': msg.message, data: {'image': msg.thumbnail, 'clickAction': msg.clip, 'sticky': true,'color': \"#2DF56D\", 'actions': [{'action': \"URI\",'title': \"Watch Live Stream\", 'uri': msg.uri  }],'ttl': 0, 'group': \"motion-group\", 'priority': \"High\"  }}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 2020,
        "wires": [
            [
                "89b8ee7cc03fec61"
            ]
        ]
    },
    {
        "id": "74dea37d901958f9",
        "type": "http request",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://frigate.home.svc:5000/api/events?camera=driveway&limit=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 950,
        "y": 2020,
        "wires": [
            [
                "c1627889623a1856"
            ]
        ]
    },
    {
        "id": "c1627889623a1856",
        "type": "json",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1110,
        "y": 2020,
        "wires": [
            [
                "d55eced5cfec1646"
            ]
        ]
    },
    {
        "id": "d55eced5cfec1646",
        "type": "change",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "event id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.0.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2020,
        "wires": [
            [
                "62dc0308d6967c76"
            ]
        ]
    },
    {
        "id": "18fcfd08a14d7c72",
        "type": "server-events",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "button_pressed",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 140,
        "y": 2120,
        "wires": [
            [
                "deef176193c829dd"
            ]
        ]
    },
    {
        "id": "6fb50a6d90e7016a",
        "type": "change",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "entity id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 2320,
        "wires": [
            [
                "ce9f1927ecf0b77c"
            ]
        ]
    },
    {
        "id": "aa0889237fb55e03",
        "type": "delay",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 2320,
        "wires": [
            [
                "6fb50a6d90e7016a"
            ]
        ]
    },
    {
        "id": "deef176193c829dd",
        "type": "switch",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "Door bell - > A -> B -> C -> D",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "switch.friedland_57399aa6_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.remote_button_a",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.remote_button_b",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.remote_button_c",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.remote_button_d",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 460,
        "y": 2120,
        "wires": [
            [
                "26d6d10d7af28c12",
                "731b30d4df389a06",
                "c61a5fe61b8e0a04"
            ],
            [
                "4b48f3e738b62edb"
            ],
            [],
            [],
            [
                "aa0889237fb55e03"
            ]
        ]
    },
    {
        "id": "731b30d4df389a06",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "event log",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "logbook",
        "service": "log",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.friedland_57399aa6_1"
        ],
        "data": "{\"name\": \"doorbell\",\"message\": \"was pressed\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 780,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "c61a5fe61b8e0a04",
        "type": "delay",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 2020,
        "wires": [
            [
                "74dea37d901958f9"
            ]
        ]
    },
    {
        "id": "4689ae8c779902cc",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Leave home routing",
        "info": "",
        "x": 150,
        "y": 240,
        "wires": []
    },
    {
        "id": "91f387a44ca991a3",
        "type": "switch",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "1. off -> 2.playing  -> 3. standby -> 4. idle -> 5. paused",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "standby",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "idle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "paused",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 460,
        "y": 1320,
        "wires": [
            [
                "ab743ee4b74464bf"
            ],
            [
                "ac1068a7cc5d90b2"
            ],
            [
                "ac1068a7cc5d90b2"
            ],
            [
                "ac1068a7cc5d90b2"
            ],
            [
                "ac1068a7cc5d90b2"
            ]
        ]
    },
    {
        "id": "ac1068a7cc5d90b2",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "turn_on",
        "func": "var service = \"turn_on\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1320,
        "wires": [
            [
                "685c4449f9f482aa",
                "e8173119d19d6f79"
            ]
        ]
    },
    {
        "id": "ab743ee4b74464bf",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "turn_off",
        "func": "var service = \"turn_off\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1240,
        "wires": [
            [
                "88da13a932af2a88",
                "685c4449f9f482aa"
            ]
        ]
    },
    {
        "id": "51e77ba5691fca49",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "Russell android notify",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_pixel_7a",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1140,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "49620fe597046cdb",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "format Android",
        "func": "var category = \"time\"\nvar title = \"Bins reminder\"\nvar message = \"Put out the \" + msg.payload + \" \"\n\nmsg.payload = {\n    \"data\": {\n        message,\n        title,\n        data: {\n            push: {\n                category: category,\n                sound: {\n                  name: \"ct-error.caf\",\n                  critical: 1,\n                  volume: 1.0\n                }\n            }\n        }\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1740,
        "wires": [
            [
                "36109e7738361659"
            ]
        ]
    },
    {
        "id": "500927a9fbe19a5c",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "household",
        "func": "msg.payload = \"household bin\"\n\nreturn [ msg ];\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1740,
        "wires": [
            [
                "49620fe597046cdb"
            ]
        ]
    },
    {
        "id": "ae50607a2737d8ee",
        "type": "poll-state",
        "z": "afb0f186.cfb0d",
        "name": "Household bin",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeAsEntityConfig": "",
        "updateInterval": "3600",
        "updateIntervalType": "num",
        "updateIntervalUnits": "seconds",
        "outputInitially": true,
        "outputOnChanged": true,
        "entityId": "sensor.waste_collection_household",
        "stateType": "str",
        "ifState": "TOMORROW",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputs": 2,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 1740,
        "wires": [
            [
                "500927a9fbe19a5c"
            ],
            []
        ]
    },
    {
        "id": "bae7e1cdf2bf377e",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Bins",
        "info": "",
        "x": 110,
        "y": 1680,
        "wires": []
    },
    {
        "id": "36109e7738361659",
        "type": "delay",
        "z": "afb0f186.cfb0d",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "day",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 890,
        "y": 1740,
        "wires": [
            [
                "51e77ba5691fca49"
            ]
        ]
    },
    {
        "id": "0acbea29e9610ade",
        "type": "mqtt in",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "topic": "zigbee2mqtt/hyperion_button/action",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "649859a4.a17818",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1440,
        "wires": [
            [
                "8cabbd8c69169c8b"
            ]
        ]
    },
    {
        "id": "094f5926144118f9",
        "type": "mqtt in",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "topic": "zigbee2mqtt/push_button/action",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "649859a4.a17818",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "8895c40ab576f5c2"
            ]
        ]
    },
    {
        "id": "950f806ee77e84e4",
        "type": "server-state-changed",
        "z": "afb0f186.cfb0d",
        "name": "landing motion",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.landing_motion_sensor_occupancy",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 80,
        "wires": [
            [],
            [
                "9a771d738291330e"
            ]
        ]
    },
    {
        "id": "291e7bff21a777fc",
        "type": "time-range-switch",
        "z": "afb0f186.cfb0d",
        "name": "12am-8am",
        "lat": "51.298530532198356",
        "lon": "-2.2305447589418095",
        "startTime": "00:00",
        "endTime": "08:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 490,
        "y": 400,
        "wires": [
            [],
            [
                "6961a37b9fcbe07d"
            ]
        ]
    },
    {
        "id": "fa2a161f51d65d28",
        "type": "trigger-state",
        "z": "afb0f186.cfb0d",
        "name": "unoccupied -> occupied",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.ep1_01_7f753c_occupancy",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 160,
        "y": 820,
        "wires": [
            [
                "a1ceebb6cd381b75",
                "bc36c13ee490f021"
            ],
            []
        ]
    },
    {
        "id": "aec496c709063c49",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "turn_off",
        "func": "var service = \"turn_off\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 900,
        "wires": [
            [
                "5b2070e801e7c8a1",
                "8ead5fb51ad6d599"
            ]
        ]
    },
    {
        "id": "a1ceebb6cd381b75",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "turn_on",
        "func": "var service = \"turn_on\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 820,
        "wires": [
            [
                "8ead5fb51ad6d599"
            ]
        ]
    },
    {
        "id": "bc36c13ee490f021",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "name": "office illuminance",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "2",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.ep1_01_7f753c_illuminance",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 410,
        "y": 760,
        "wires": [
            [
                "0bf98c34b9c79a18"
            ],
            []
        ]
    },
    {
        "id": "5b2070e801e7c8a1",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "office light",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.office_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "payload",
                "valueType": "msg"
            }
        ],
        "queue": "none",
        "x": 880,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "0bf98c34b9c79a18",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "turn_on",
        "func": "var service = \"turn_on\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 760,
        "wires": [
            [
                "5b2070e801e7c8a1"
            ]
        ]
    },
    {
        "id": "37436049ac7af60e",
        "type": "inject",
        "z": "afb0f186.cfb0d",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 760,
        "y": 1940,
        "wires": [
            [
                "74dea37d901958f9"
            ]
        ]
    },
    {
        "id": "731142af522cf3d3",
        "type": "server-state-changed",
        "z": "afb0f186.cfb0d",
        "name": "occupied -> unoccupied",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.ep1_01_7f753c_occupancy",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "5",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 900,
        "wires": [
            [
                "aec496c709063c49"
            ],
            []
        ]
    },
    {
        "id": "f374141366c7085d",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "Hallway on white",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.hallway_on_white"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "87cd244ee8e19e61"
            ]
        ]
    },
    {
        "id": "87cd244ee8e19e61",
        "type": "delay",
        "z": "afb0f186.cfb0d",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "1c71ec4f2d9f4bf0"
            ]
        ]
    },
    {
        "id": "1c71ec4f2d9f4bf0",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "Hallway off",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.ailight_2"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 970,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "687240d745c3448c",
        "type": "comment",
        "z": "afb0f186.cfb0d",
        "name": "Lounge automation",
        "info": "",
        "x": 150,
        "y": 480,
        "wires": []
    },
    {
        "id": "8449b131d31f148d",
        "type": "trigger-state",
        "z": "afb0f186.cfb0d",
        "name": "unoccupied -> occupied",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.ep1_02_dac9c4_occupancy",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 160,
        "y": 560,
        "wires": [
            [
                "8075223ba4513be8"
            ],
            []
        ]
    },
    {
        "id": "3a20c09f99eb06f8",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "turn_off",
        "func": "var service = \"turn_off\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 640,
        "wires": [
            [
                "9024635ac412c326"
            ]
        ]
    },
    {
        "id": "8075223ba4513be8",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "name": "lounge illuminance",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "1",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.ep1_02_dac9c4_illuminance",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "af705b318d7b9e12"
            ],
            []
        ]
    },
    {
        "id": "9024635ac412c326",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "lounge background",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lounge_wall_lights"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "payload",
                "valueType": "msg"
            }
        ],
        "queue": "none",
        "x": 1010,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d0b932920b123d3e",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "turn_on",
        "func": "var service = \"turn_on\"\n\nmsg.payload = {\n    \"service\": service,\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 560,
        "wires": [
            [
                "9024635ac412c326"
            ]
        ]
    },
    {
        "id": "2f749f5f8d4664a9",
        "type": "server-state-changed",
        "z": "afb0f186.cfb0d",
        "name": "occupied -> unoccupied",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.ep1_02_dac9c4_occupancy",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "5",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 640,
        "wires": [
            [
                "3ca9d267b0d9d63a"
            ],
            []
        ]
    },
    {
        "id": "3ca9d267b0d9d63a",
        "type": "api-current-state",
        "z": "afb0f186.cfb0d",
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 450,
        "y": 640,
        "wires": [
            [],
            [
                "3a20c09f99eb06f8"
            ]
        ]
    },
    {
        "id": "8ead5fb51ad6d599",
        "type": "api-call-service",
        "z": "afb0f186.cfb0d",
        "name": "office rgb",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "group.office_rgb"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 880,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "fc0a39c6a5e146f3",
        "type": "poll-state",
        "z": "afb0f186.cfb0d",
        "name": "Garden bin",
        "server": "8b52884a.b76658",
        "version": 3,
        "exposeAsEntityConfig": "",
        "updateInterval": "3600",
        "updateIntervalType": "num",
        "updateIntervalUnits": "seconds",
        "outputInitially": true,
        "outputOnChanged": true,
        "entityId": "sensor.waste_collection_garden",
        "stateType": "str",
        "ifState": "TOMORROW",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputs": 2,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 1820,
        "wires": [
            [
                "38502e1bf56600ae"
            ],
            []
        ]
    },
    {
        "id": "38502e1bf56600ae",
        "type": "function",
        "z": "afb0f186.cfb0d",
        "name": "garden",
        "func": "msg.payload = \"garden bin\"\n\nreturn [ msg ];\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1820,
        "wires": [
            [
                "49620fe597046cdb"
            ]
        ]
    },
    {
        "id": "3184ad531bc5404d",
        "type": "inject",
        "z": "afb0f186.cfb0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "bc36c13ee490f021"
            ]
        ]
    },
    {
        "id": "af705b318d7b9e12",
        "type": "time-range-switch",
        "z": "afb0f186.cfb0d",
        "name": "12pm-6am",
        "lat": "51.298530532198356",
        "lon": "-2.2305447589418095",
        "startTime": "12:00",
        "endTime": "06:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 630,
        "y": 560,
        "wires": [
            [
                "d0b932920b123d3e"
            ],
            []
        ]
    },
    {
        "id": "d841ce2f97c502f8",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "name": "Toggle schedules",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.enable_heating_schedules",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 140,
        "y": 180,
        "wires": [
            [
                "4aed068020384b78"
            ],
            [
                "2447d1c9ace3b941"
            ]
        ]
    },
    {
        "id": "4aed068020384b78",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "name": "Disable schedules",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.schedule_weekday",
            "switch.schedule_weekend"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "c35bd5eccd6b653b"
            ]
        ]
    },
    {
        "id": "2447d1c9ace3b941",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "name": "Enable schedules",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.schedule_weekday",
            "switch.schedule_weekend"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "424007945ad5ab08"
            ]
        ]
    },
    {
        "id": "424007945ad5ab08",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "name": "Run schedule",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "scheduler",
        "service": "run_action",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.heating_controller"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 840,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ce29b54fee8ac32e",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "name": "home -> not_home",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.anyone_home",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home",
                "propertyValue": "old_state.state"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 150,
        "y": 80,
        "wires": [
            [
                "bd1afed023a81c58"
            ],
            []
        ]
    },
    {
        "id": "1b39e02438a1c605",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "name": "not_home -> home",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.anyone_home",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "old_state.state"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 150,
        "y": 280,
        "wires": [
            [
                "dde8862116e0100f"
            ],
            []
        ]
    },
    {
        "id": "066749878081405d",
        "type": "comment",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "Aircon",
        "info": "",
        "x": 90,
        "y": 440,
        "wires": []
    },
    {
        "id": "a3258b5588c62c7c",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "off -> auto",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "climate.midea_ac_42880953513406_2",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "auto"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 100,
        "y": 520,
        "wires": [
            [
                "f0c9108db605c58f"
            ],
            []
        ]
    },
    {
        "id": "be27bd4df8ea1392",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "Enable swing mode",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_swing_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.midea_ac_42880953513406_2"
        ],
        "data": "{\"swing_mode\":\"Vertical\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 550,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "77cb539139b1e947",
        "type": "api-current-state",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_set_aircon_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 370,
        "y": 660,
        "wires": [
            [
                "0d6f721153f28d46"
            ],
            []
        ]
    },
    {
        "id": "f0c9108db605c58f",
        "type": "api-current-state",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_enable_aircon_swing_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "be27bd4df8ea1392"
            ],
            []
        ]
    },
    {
        "id": "cdd7e2012c671703",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "off -> cool",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "climate.midea_ac_42880953513406_2",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "cool"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 100,
        "y": 580,
        "wires": [
            [
                "f0c9108db605c58f"
            ],
            []
        ]
    },
    {
        "id": "bd1afed023a81c58",
        "type": "api-current-state",
        "z": "cf24db3435ba68ad",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.heating_schedule_away",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "4aed068020384b78"
            ],
            []
        ]
    },
    {
        "id": "dde8862116e0100f",
        "type": "api-current-state",
        "z": "cf24db3435ba68ad",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.heating_schedule_away",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "2447d1c9ace3b941"
            ],
            []
        ]
    },
    {
        "id": "789faa8144a6a6d9",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "unoccupied -> occupied",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.office_occupancy",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 140,
        "y": 660,
        "wires": [
            [
                "77cb539139b1e947"
            ],
            []
        ]
    },
    {
        "id": "7d5b2888c68e0320",
        "type": "trigger-state",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "occupied -> unoccupied",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.office_occupancy",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 140,
        "y": 720,
        "wires": [
            [
                "f9edfad88e5fc1c2"
            ],
            []
        ]
    },
    {
        "id": "0d6f721153f28d46",
        "type": "api-current-state",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "fan mode",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "fan_only",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.midea_ac_42880953513406_2",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 660,
        "wires": [
            [
                "f96177401fdd7f7f"
            ],
            []
        ]
    },
    {
        "id": "7cced1da5dab434e",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "Set mode",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_hvac_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.midea_ac_42880953513406_2"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1000,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c0b3c0530fced4db",
        "type": "api-current-state",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "cool mode",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "cool",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.midea_ac_42880953513406_2",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 610,
        "y": 720,
        "wires": [
            [
                "d1259e05b00b447a"
            ],
            []
        ]
    },
    {
        "id": "d1259e05b00b447a",
        "type": "function",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "fan_only",
        "func": "var hvac = \"fan_only\"\n\nmsg.payload = { data:{\"hvac_mode\": hvac }}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 720,
        "wires": [
            [
                "7cced1da5dab434e"
            ]
        ]
    },
    {
        "id": "f96177401fdd7f7f",
        "type": "function",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "cool",
        "func": "var hvac = \"cool\"\n\nmsg.payload = { data:{\"hvac_mode\": hvac }}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 660,
        "wires": [
            [
                "7cced1da5dab434e"
            ]
        ]
    },
    {
        "id": "f9edfad88e5fc1c2",
        "type": "api-current-state",
        "z": "cf24db3435ba68ad",
        "d": true,
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_set_aircon_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "c0b3c0530fced4db"
            ],
            []
        ]
    },
    {
        "id": "c35bd5eccd6b653b",
        "type": "api-call-service",
        "z": "cf24db3435ba68ad",
        "name": "turn off",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.thermostat_1"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 810,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "076fb63d73d6fa3c",
        "type": "comment",
        "z": "cf24db3435ba68ad",
        "name": "Hive",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "6cb23d50.77ced4",
        "type": "bigtimer",
        "z": "4aedf9e8.044e08",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "",
        "name": "2.00am every day",
        "comment": "",
        "lat": "51.32063880734896",
        "lon": "-2.2089664938383327",
        "starttime": "120",
        "endtime": "135",
        "starttime2": "0",
        "endtime2": "0",
        "startoff": "0",
        "endoff": "0",
        "startoff2": "",
        "endoff2": "",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "cd1caa8c.300358",
                "910caaaf.b41098"
            ],
            [],
            []
        ]
    },
    {
        "id": "c77d382a.cb6bf8",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 530,
        "y": 140,
        "wires": [
            [],
            [
                "8d782ee4.3daf1"
            ]
        ]
    },
    {
        "id": "bafec0ae.30733",
        "type": "inject",
        "z": "4aedf9e8.044e08",
        "name": "force-run",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "cd1caa8c.300358"
            ]
        ]
    },
    {
        "id": "24e58e6b.442df2",
        "type": "bigtimer",
        "z": "4aedf9e8.044e08",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "",
        "name": "7am every day",
        "comment": "",
        "lat": "51.32063880734896",
        "lon": "-2.2089664938383327",
        "starttime": "420",
        "endtime": "435",
        "starttime2": "0",
        "endtime2": "0",
        "startoff": "0",
        "endoff": "0",
        "startoff2": "",
        "endoff2": "",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "b15d162c.105c28"
            ],
            [],
            []
        ]
    },
    {
        "id": "73c30e71.e8d46",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 530,
        "y": 420,
        "wires": [
            [],
            [
                "f36487b8.7e8c48"
            ]
        ]
    },
    {
        "id": "d6646d02.af28b",
        "type": "inject",
        "z": "4aedf9e8.044e08",
        "name": "force-run",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "b15d162c.105c28"
            ]
        ]
    },
    {
        "id": "8d782ee4.3daf1",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "alarm disarmed?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 750,
        "y": 140,
        "wires": [
            [],
            [
                "03f68328699a88c3"
            ]
        ]
    },
    {
        "id": "f36487b8.7e8c48",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "alarm not disarmed?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 760,
        "y": 420,
        "wires": [
            [],
            [
                "81c2d258.033ce"
            ]
        ]
    },
    {
        "id": "cd1caa8c.300358",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.auto_arm_disarm_alarm_night",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 370,
        "y": 140,
        "wires": [
            [],
            [
                "c77d382a.cb6bf8"
            ]
        ]
    },
    {
        "id": "b15d162c.105c28",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.auto_arm_disarm_alarm_night",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 350,
        "y": 420,
        "wires": [
            [],
            [
                "73c30e71.e8d46"
            ]
        ]
    },
    {
        "id": "1104f7d2.7a2938",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Android msg",
        "func": "var action = msg.payload\n\nvar category = \"alarm\"\nvar title = \"Alarm System\"\nvar message = \"Alarm is now \" + action\n\n\nmsg.payload = {\n    \"data\": {\n        message,\n        title,\n        data: {\n            push: {\n                category: category\n            }\n        }\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 680,
        "wires": [
            [
                "aeafe637.1aeaf8"
            ]
        ]
    },
    {
        "id": "aeafe637.1aeaf8",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "notify Russell android",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_pixel_7a",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1800,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "3700839b.3d543c",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Triggered",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "alarm_control_panel.alarm_panel",
        "entityIdType": "substring",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "triggered",
        "ifStateType": "str",
        "ifStateOperator": "is_not",
        "outputOnlyOnStateChange": false,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 920,
        "wires": [
            [],
            [
                "cca292a3.05942"
            ]
        ]
    },
    {
        "id": "71941591.c8558c",
        "type": "trigger-state",
        "z": "4aedf9e8.044e08",
        "name": "home -> not_home",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.anyone_home",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home",
                "propertyValue": "old_state.state"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 130,
        "y": 300,
        "wires": [
            [
                "ccda8ca7.269df"
            ],
            []
        ]
    },
    {
        "id": "ccda8ca7.269df",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.auto_arm_alarm_when_gone",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 350,
        "y": 300,
        "wires": [
            [],
            [
                "892a8bfd.69c738"
            ]
        ]
    },
    {
        "id": "892a8bfd.69c738",
        "type": "credentials",
        "z": "4aedf9e8.044e08",
        "name": "alarm code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "c901e347.7a1dc"
            ]
        ]
    },
    {
        "id": "c901e347.7a1dc",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "arm alarm away",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "alarm_control_panel",
        "service": "alarm_arm_away",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.alarm_panel"
        ],
        "data": "{\"code\":\"{{ alarm_code }}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 800,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d530f3f1.e8195",
        "type": "trigger-state",
        "z": "4aedf9e8.044e08",
        "name": "not_home -> home",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.anyone_home",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home",
                "propertyValue": "new_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "old_state.state"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 130,
        "y": 560,
        "wires": [
            [
                "7f300b61.5a4044"
            ],
            []
        ]
    },
    {
        "id": "7f300b61.5a4044",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.auto_disarm_alarm_when_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 350,
        "y": 560,
        "wires": [
            [],
            [
                "81c2d258.033ce"
            ]
        ]
    },
    {
        "id": "81c2d258.033ce",
        "type": "credentials",
        "z": "4aedf9e8.044e08",
        "name": "alarm code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "d837e04d.b2546"
            ]
        ]
    },
    {
        "id": "d837e04d.b2546",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "disarm alarm",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "alarm_control_panel",
        "service": "alarm_disarm",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.alarm_panel"
        ],
        "data": "{\"code\":\"{{ alarm_code }}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1230,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3d0081db.06ffce",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.notify_alarm_armed",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 330,
        "y": 680,
        "wires": [
            [],
            [
                "fe046407.ab0868"
            ]
        ]
    },
    {
        "id": "7c85f3a.d00500c",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.notify_alarm_disarmed",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 330,
        "y": 760,
        "wires": [
            [],
            [
                "c28e839a592e1ad9",
                "fe046407.ab0868",
                "d1a401b113e07049"
            ]
        ]
    },
    {
        "id": "cca292a3.05942",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.notify_alarm_triggered",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 470,
        "y": 900,
        "wires": [
            [],
            [
                "8af4ba1c.44a458",
                "c7a9e7a495ed59d3"
            ]
        ]
    },
    {
        "id": "fe046407.ab0868",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Status",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 550,
        "y": 680,
        "wires": [
            [
                "1104f7d2.7a2938"
            ]
        ]
    },
    {
        "id": "1ab168ac.d3e527",
        "type": "trigger-state",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Disarmed",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "alarm_control_panel.alarm_panel",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 120,
        "y": 760,
        "wires": [
            [
                "7c85f3a.d00500c"
            ],
            []
        ]
    },
    {
        "id": "cea06a40.728948",
        "type": "trigger-state",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Armed",
        "server": "8b52884a.b76658",
        "version": 4,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "alarm_control_panel.alarm_panel",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "id": "ty01v74n8h",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "re",
                "comparatorValue": "^armed.*"
            },
            {
                "id": "i15iybgnzt",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "re",
                "comparatorValue": "^armed.*"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": true,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "3d0081db.06ffce"
            ],
            []
        ]
    },
    {
        "id": "8af4ba1c.44a458",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Triggerred Android msg",
        "func": "var category = \"alarm\"\nvar title = \" INTRUDER ALARM TRIGGERED! \"\nvar message = \"INTRUDER ALARM HAS TRIGGERED! OMG WTFBBQ!!!!111  \\n\"\n\nmsg.payload = {\n    \"data\": {\n        message,\n        title,\n        data: {\n            push: {\n                category: category,\n                sound: {\n                  name: \"ct-error.caf\",\n                  critical: 1,\n                  volume: 1.0\n                }\n            }\n        }\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 980,
        "wires": [
            [
                "e2f0bf60.7c222"
            ]
        ]
    },
    {
        "id": "e2f0bf60.7c222",
        "type": "delay",
        "z": "4aedf9e8.044e08",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1300,
        "y": 980,
        "wires": [
            [
                "aeafe637.1aeaf8"
            ]
        ]
    },
    {
        "id": "910caaaf.b41098",
        "type": "subflow:43703bf3.b01b24",
        "z": "4aedf9e8.044e08",
        "name": "",
        "env": [],
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "e021dad5f8f45d4e",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "landing motion",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.landing_motion_sensor_occupancy",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 1320,
        "wires": [
            [],
            [
                "9637fd97fca06cc2"
            ]
        ]
    },
    {
        "id": "57d24fab2cc21bf7",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "alarm armed home?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "armed_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 480,
        "y": 1340,
        "wires": [
            [
                "9f89b06296441bf5"
            ],
            []
        ]
    },
    {
        "id": "9f89b06296441bf5",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "trigger",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.alarm_panel"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 750,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "9637fd97fca06cc2",
        "type": "api-current-state",
        "z": "4aedf9e8.044e08",
        "name": "alarm armed away?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "armed_away",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 470,
        "y": 1480,
        "wires": [
            [
                "9f89b06296441bf5"
            ],
            []
        ]
    },
    {
        "id": "621ca1e8399b5330",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "office motion",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.ep1_01_7f753c_office_pir",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1380,
        "wires": [
            [],
            [
                "9637fd97fca06cc2"
            ]
        ]
    },
    {
        "id": "cb4f4c10fdcaa680",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "lounge motion",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.ep1_02_dac9c4_lounge_pir",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1440,
        "wires": [
            [],
            [
                "9637fd97fca06cc2"
            ]
        ]
    },
    {
        "id": "4dee70f9cb993118",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "front door",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.front_door_contact_sensor_contact",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 1500,
        "wires": [
            [],
            [
                "9637fd97fca06cc2",
                "57d24fab2cc21bf7"
            ]
        ]
    },
    {
        "id": "4fc12d785f985db3",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "kitchen door",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.kitchen_contact_sensor_contact",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1560,
        "wires": [
            [],
            [
                "57d24fab2cc21bf7",
                "9637fd97fca06cc2"
            ]
        ]
    },
    {
        "id": "4a2a73083e98978b",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "office WIndow",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.office_contact_sensor_contact",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1620,
        "wires": [
            [],
            [
                "9637fd97fca06cc2",
                "57d24fab2cc21bf7"
            ]
        ]
    },
    {
        "id": "bf3403ee4de55f27",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "lounge WIndow",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.lounge_contact_sensor_contact",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 1680,
        "wires": [
            [],
            [
                "57d24fab2cc21bf7",
                "9637fd97fca06cc2"
            ]
        ]
    },
    {
        "id": "189a46476efd5beb",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "arm alarm home",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "alarm_control_panel",
        "service": "alarm_arm_home",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.alarm_panel"
        ],
        "data": "{\"code\":\"{{ alarm_code }}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1220,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "03f68328699a88c3",
        "type": "credentials",
        "z": "4aedf9e8.044e08",
        "name": "alarm code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 990,
        "y": 140,
        "wires": [
            [
                "189a46476efd5beb"
            ]
        ]
    },
    {
        "id": "d1dcac1eeeb1de5c",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "name": "Alarm triggered Alexa message",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "alexa_media_everywhere",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{ \"message\": \"{{payload}}\", \"data\": { \"type\": \"announce\" }, \"target\": \"{{service}}\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 910,
        "y": 880,
        "wires": [
            [
                "a16755e15d896fc1"
            ]
        ]
    },
    {
        "id": "c7a9e7a495ed59d3",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Message",
        "func": "var message = \"Please vacate the premises, the authorities have been contacted\"\n\nmsg.payload = {\n    \"data\": {\n        message,\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 880,
        "wires": [
            [
                "d1dcac1eeeb1de5c"
            ]
        ]
    },
    {
        "id": "7617c5a77ae8e5fb",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Triggers",
        "info": "",
        "x": 100,
        "y": 1260,
        "wires": []
    },
    {
        "id": "8030f590b2e88311",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Activate alarm",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "5dffbd88127b7314",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Deactivate alarm",
        "info": "",
        "x": 120,
        "y": 360,
        "wires": []
    },
    {
        "id": "f69bf36c5d17a719",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Notifications",
        "info": "",
        "x": 110,
        "y": 640,
        "wires": []
    },
    {
        "id": "581603c66ffcc56c",
        "type": "mqtt out",
        "z": "4aedf9e8.044e08",
        "name": "",
        "topic": "zigbee2mqtt/alarm_siren/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "649859a4.a17818",
        "x": 1420,
        "y": 760,
        "wires": []
    },
    {
        "id": "a16755e15d896fc1",
        "type": "template",
        "z": "4aedf9e8.044e08",
        "name": "Sound siren",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"warning\": {\n        \"level\": \"low\",\n        \"duration\": 300, \n        \"mode\": \"emergency\", \n        \"strobe\": true,\n        \"strobe_duty_cycle\": 1,\n        \"strobe_level\": \"very_high\"\n    }\n}",
        "output": "str",
        "x": 1170,
        "y": 880,
        "wires": [
            [
                "581603c66ffcc56c"
            ]
        ]
    },
    {
        "id": "c28e839a592e1ad9",
        "type": "template",
        "z": "4aedf9e8.044e08",
        "name": "Stop siren",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"warning\": {\n        \"mode\": \"stop\"\n    }\n}",
        "output": "str",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "581603c66ffcc56c"
            ]
        ]
    },
    {
        "id": "f77b8eb2c40d940c",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "office smoke",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.smoke_detector_office_smoke",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "office",
                "valueType": "str"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1100,
        "wires": [
            [],
            [
                "6202624186e1ae93"
            ]
        ]
    },
    {
        "id": "57fe37a14360d316",
        "type": "server-state-changed",
        "z": "4aedf9e8.044e08",
        "name": "front bedroom smoke",
        "server": "8b52884a.b76658",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.smoke_detector_server_smoke",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "server",
                "valueType": "str"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 1180,
        "wires": [
            [],
            [
                "6202624186e1ae93"
            ]
        ]
    },
    {
        "id": "298ba567d33e1abb",
        "type": "delay",
        "z": "4aedf9e8.044e08",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1300,
        "y": 1100,
        "wires": [
            [
                "aeafe637.1aeaf8"
            ]
        ]
    },
    {
        "id": "6202624186e1ae93",
        "type": "function",
        "z": "4aedf9e8.044e08",
        "name": "Alarm Triggerred Android msg",
        "func": "var detector = msg.payload\nvar category = \"alarm\"\nvar title = \" FIRE ALARM TRIGGERED! \"\nvar message = detector + \" FIRE ALARM HAS TRIGGERED! OMG WTFBBQ!!!!111  \\n\"\n\nmsg.payload = {\n    \"data\": {\n        message,\n        title,\n        data: {\n            push: {\n                category: category,\n                sound: {\n                  name: \"ct-error.caf\",\n                  critical: 1,\n                  volume: 1.0\n                }\n            }\n        }\n    }\n}\nreturn [ msg ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1100,
        "wires": [
            [
                "298ba567d33e1abb"
            ]
        ]
    },
    {
        "id": "ac34c90be2e2b3f2",
        "type": "comment",
        "z": "4aedf9e8.044e08",
        "name": "Fire alarm",
        "info": "",
        "x": 100,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e99edbd1d96d2fbd",
        "type": "inject",
        "z": "4aedf9e8.044e08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 820,
        "wires": [
            [
                "d1a401b113e07049"
            ]
        ]
    },
    {
        "id": "d1a401b113e07049",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "d": true,
        "name": "Hallway on green",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.hallway_on_green"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 610,
        "y": 820,
        "wires": [
            [
                "d654e2290b46c4f3"
            ]
        ]
    },
    {
        "id": "d654e2290b46c4f3",
        "type": "delay",
        "z": "4aedf9e8.044e08",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 820,
        "wires": [
            [
                "54f34cef987458d6"
            ]
        ]
    },
    {
        "id": "54f34cef987458d6",
        "type": "api-call-service",
        "z": "4aedf9e8.044e08",
        "d": true,
        "name": "Hallway off",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.ailight_2"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1010,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "fdd1ba877ceff313",
        "type": "inject",
        "z": "4aedf9e8.044e08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1200,
        "wires": [
            [
                "6202624186e1ae93"
            ]
        ]
    },
    {
        "id": "9c1da9ccdd10d1fd",
        "type": "function",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "trigger driveway camera (BI)",
        "func": "msg.payload = \"camera=driveway&trigger\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 40,
        "wires": [
            [
                "bbce73ee38a38d75"
            ]
        ]
    },
    {
        "id": "cb33c256a819acda",
        "type": "api-current-state",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.camera_driveway_notify",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 470,
        "y": 40,
        "wires": [
            [],
            [
                "d650b6536e50c286"
            ]
        ]
    },
    {
        "id": "aee2e651b6f6d719",
        "type": "delay",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1280,
        "y": 40,
        "wires": [
            [
                "9c1da9ccdd10d1fd"
            ]
        ]
    },
    {
        "id": "01798252702408b2",
        "type": "function",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "trigger lounge camera (BI)",
        "func": "msg.payload = \"camera=lounge&trigger\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 160,
        "wires": [
            [
                "bbce73ee38a38d75"
            ]
        ]
    },
    {
        "id": "6cfd5e01f59fc792",
        "type": "delay",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1240,
        "y": 160,
        "wires": [
            [
                "01798252702408b2"
            ]
        ]
    },
    {
        "id": "31ccd6df32a58b96",
        "type": "time-range-switch",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "3am-8am",
        "lat": "51.298530532198356",
        "lon": "-2.2305447589418095",
        "startTime": "03:00",
        "endTime": "08:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 860,
        "y": 120,
        "wires": [
            [
                "6cfd5e01f59fc792"
            ],
            []
        ]
    },
    {
        "id": "a5c0949a025c3cc9",
        "type": "api-current-state",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "31ccd6df32a58b96"
            ],
            [
                "6cfd5e01f59fc792"
            ]
        ]
    },
    {
        "id": "2c1b1b8da47eed7b",
        "type": "api-current-state",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.camera_lounge_notify",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 470,
        "y": 160,
        "wires": [
            [],
            [
                "a5c0949a025c3cc9"
            ]
        ]
    },
    {
        "id": "234c33ecaf03435d",
        "type": "function",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "trigger office camera (BI)",
        "func": "msg.payload = \"camera=office&trigger\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 240,
        "wires": [
            [
                "bbce73ee38a38d75"
            ]
        ]
    },
    {
        "id": "bd01d3d04428e4ba",
        "type": "delay",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1240,
        "y": 240,
        "wires": [
            [
                "234c33ecaf03435d"
            ]
        ]
    },
    {
        "id": "b609caab5e577c89",
        "type": "api-current-state",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "5b1dc6a44fd977f7"
            ],
            [
                "bd01d3d04428e4ba"
            ]
        ]
    },
    {
        "id": "d61d36be2dadb8a9",
        "type": "api-current-state",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "run?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.camera_office_notify",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 470,
        "y": 240,
        "wires": [
            [],
            [
                "b609caab5e577c89"
            ]
        ]
    },
    {
        "id": "bbce73ee38a38d75",
        "type": "mqtt out",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "trigger blue iris",
        "topic": "BlueIris/admin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "649859a4.a17818",
        "x": 1880,
        "y": 160,
        "wires": []
    },
    {
        "id": "5eae183d2e8a0d8e",
        "type": "subflow:ebce7e9e955e453a",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "1. driveway 2. lounge 3. office",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "d3e9ebbaa7917aca"
            ],
            [
                "2c1b1b8da47eed7b",
                "7c18013c40d0c4e7"
            ],
            [
                "d61d36be2dadb8a9",
                "5be2ecb5576efb75"
            ]
        ]
    },
    {
        "id": "5b1dc6a44fd977f7",
        "type": "time-range-switch",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "3am-8am",
        "lat": "51.298530532198356",
        "lon": "-2.2305447589418095",
        "startTime": "03:00",
        "endTime": "08:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 860,
        "y": 200,
        "wires": [
            [
                "bd01d3d04428e4ba"
            ],
            []
        ]
    },
    {
        "id": "7d14421895ba3bd2",
        "type": "api-current-state",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "home?",
        "server": "8b52884a.b76658",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.anyone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 470,
        "y": 360,
        "wires": [
            [],
            [
                "0b5ecb7b1876c42c"
            ]
        ]
    },
    {
        "id": "2da225051b82f6e6",
        "type": "function",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "Format notification",
        "func": "const ha_external_url  = \"https://hass.microserver.space\";\nconst frigate_external_url = \"https://frigate.microserver.space\"\n\nmsg.event_id     = msg.payload.after.id;\nmsg.clip         = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/\" + msg.payload.after.camera + \"/clip.mp4\";\nmsg.thumbnail    = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/thumbnail.jpg?format=android\";\nmsg.topic        = msg.payload.after.camera + \"-\" + msg.payload.after.label;\nmsg.relativetime = msg.relativetime || \"7 minutes\";\n\nswitch (msg.payload.after.camera) {\n    case('office'):\n        msg.verb = \"at\";\n        msg.location = 'office';\n        msg.uri = frigate_external_url + \"/api/office?h=1080\";\n        break;\n    case('driveway'):\n        msg.verb = \"in\";\n        msg.location = \"driveway\";\n        msg.uri = frigate_external_url + \"/api/driveway?h=1080\";\n        break;    \n    case('lounge'):\n        msg.verb = \"in\";\n        msg.location = \"lounge\";\n        msg.uri = frigate_external_url + \"/api/lounge?h=1080\";\n        break;\n\n    default:\n        msg.verb = \"in\";\n        msg.location = msg.payload.after.camera;\n}\n\nmsg.message     = \"A \" + msg.payload.after.label + \" is \" + msg.verb + \" the \" + msg.location;\n\nmsg.payload     = { data: {'message': msg.message, data: {'image': msg.thumbnail, 'clickAction': msg.clip, 'sticky': true,'color': \"#2DF56D\", 'actions': [{'action': \"URI\",'title': \"Watch Live Stream\", 'uri': msg.uri  }],'ttl': 0, 'group': \"motion-group\", 'priority': \"High\"  }}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "a330c152d80990cd"
            ]
        ]
    },
    {
        "id": "a330c152d80990cd",
        "type": "rbe",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "event_id",
        "topi": "topic",
        "x": 1310,
        "y": 360,
        "wires": [
            [
                "68e23051a1b891ab"
            ]
        ]
    },
    {
        "id": "68e23051a1b891ab",
        "type": "function",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "Rate Limiter",
        "func": "// Defaults to 10 minutes, overridable with msg.ratelimitms\n// Will limit per topic (including by null ones)\nvar interval = msg.ratelimitms || (1000*60*10); // minimum interval between messages (ms)\nvar countToTrigger = msg.countToTrigger || 1;\nvar lastReleasedKey = \"lastReleased_\" + (msg.topic.replace(/ /g, \"_\") || \"null_topic\");\nvar lastHitKey = \"lastHit_\" + (msg.topic.replace(/ /g, \"_\") || \"null_topic\");\nvar cntKey = \"count_\" + (msg.topic.replace(/ /g, \"_\") || \"null_topic\");\nvar lastReleased = (context.get(lastReleasedKey) || 0);\nvar lastHit = (context.get(lastHitKey) || 0);\nvar now = Date.now();\nif (now-lastHit > interval) {\n    node.warn(\"resetting count, too far apart.\");\n    context.set(cntKey,0); // Clear hits, too far apart.\n}\ncontext.set(lastHitKey,now);\nif (now-lastReleased > interval) {\n    var count = (context.get(cntKey) || 0);\n    count++;\n    if (count >= countToTrigger) {\n        context.set(lastReleasedKey,now);\n        context.set(cntKey,0);\n        node.status({fill:\"green\",shape:\"ring\",text:\"passed on\"});\n        return msg;\n    } else {\n        node.status({fill:\"red\",shape:\"ring\",text:\"Waiting for \" + \n            (countToTrigger - count) + \" more hits.\"});\n        context.set(cntKey,count);\n        return null;\n    }\n} else {\n    var timeLeft = (interval - (now-lastReleased)) / 1000;  \n    node.status({fill:\"red\",shape:\"ring\",text:\"blocked for \" + timeLeft + \" seconds\"});\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 360,
        "wires": [
            [
                "207427d26215b7df"
            ]
        ]
    },
    {
        "id": "207427d26215b7df",
        "type": "api-call-service",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "Notify (Android)",
        "server": "8b52884a.b76658",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_pixel_7a",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1680,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0b5ecb7b1876c42c",
        "type": "switch",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "filter",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "new",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "end",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 360,
        "wires": [
            [
                "2da225051b82f6e6"
            ],
            []
        ]
    },
    {
        "id": "d650b6536e50c286",
        "type": "time-range-switch",
        "z": "f987904ca78a23d7",
        "d": true,
        "name": "3am-8am",
        "lat": "51.298530532198356",
        "lon": "-2.2305447589418095",
        "startTime": "03:00",
        "endTime": "08:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 860,
        "y": 40,
        "wires": [
            [
                "aee2e651b6f6d719"
            ],
            []
        ]
    }
]